body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(26, 24, 24);
}

.header{
  height: 500px;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  color: #eee;
  background-image:url(resources/background1.jpg);
  background-size:cover; 
  background-repeat: no-repeat;
}

h1{
  font-size: 90px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: #eee;
}

h2{
  font-family: "Playfair Display", serif;
  color: #eee;
  font-size: 40px;
}

.card-body-about-me{
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text-about-me{
  display: flex;
  text-align: justify;
  font-size: 25px;
}

.skills{
  display: flex;
  justify-content: space-around;
}

.card-skills{
  background-color: #eee;
}

.skills-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #eee;
}

.card-title-skills{
  margin-top: 20px;
  color: black;
}

.card-text-skills{
  text-align: center;
  margin: 30px;
}

.my-projects{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #eee;
}

footer{
  color: #eee;
}

.footer-left {
  width: 40%;
  height: 100%;
}

.contact-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding: 0;
}

.home-btn{
  display: flex;
  justify-content: center;
  padding: 0;
}


@media only screen and (max-width: 576px) {

  .header{
    height: 200px;
    background-size: cover;
  }

  h1{
    text-align: center;
    font-size: 50px;
  }

  h2{
    font-size: 30px;
  }

  h3{
    font-size: 20px;
  }

  .card-text-about-me{
    font-size: 16px;
  }
  
  .image{
    padding-right: 25px;
  }

  .skills{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .get-in-touch{
    flex-direction: column;
    text-align: center;
  }

  .contact-list{
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {

    .image{
      padding-right: 25px;
    }

    .card-text-about-me{
      font-size: 20px;
    }

    .skills{
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .get-in-touch{
      flex-direction: column;
      text-align: center;
    }
  
    .contact-list{
      flex-direction: column;
      align-items: center;
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 1200px){

    .card-text-about-me{
      font-size: 16px;
    }

    .skills{
      flex-direction: row;
      align-content: center;
      gap: 20px;
    }
  }  


@media only screen and (min-width: 1400px) {

    .header{
      height: 800px;
      width: 80%;
      background-size: cover;
    }

    h1{
      font-size: 150px;
    }

    h3{
      font-size: 50px;
    }

    h2{
      font-size:60px ;
    }

    .card-text-about-me{
      font-size: 30px;
      margin: 40px;
    }

    .card-skills{
      display: flex;
      flex-direction: column;
      flex-basis: 25%;
      background-color: #eee;
    }

    .card-title-skills{
      color: black;
      margin-top: 40px;
    }

    .card-text-skills{
      font-size: 25px;
      text-align: center;
      margin: 60px;
    }
  }
    
  
  
  
    
  

